h1{
    color: red;
    text-align: center;
}

#parrafoPresentacion{
    color: white;
    font-size: "18px"
}

#divEspecial{
    background-color: green; 
    color: yellow;
}

#contenedorForm{
    background-color: lightgreen;
}

@media only screen and (min-width: 768px) {
    #divEspecial{
        background-color: aqua;
        color: brown;
    }

    #contenedorForm{
        background-color: orange;
    }


  }